In [4]:
!pip show pymongo

Name: pymongo
Version: 3.10.1
Summary: Python driver for MongoDB <http://www.mongodb.org>
Home-page: http://github.com/mongodb/mongo-python-driver
Author: Mike Dirolf
Author-email: mongodb-user@googlegroups.com
License: Apache License, Version 2.0
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

You are using pip version 10.0.1, however version 20.2b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

## pymongo을 사용해서 MongoDB 제어하기
1. pymongo 라이브러리 import
2. MongoDB 접속
3. Database, C

In [19]:
import pymongo

# connection create
conn = pymongo.MongoClient("localhost", 27017)
print(conn)
# database create
db = conn.pymongo_db # rigth side is db name
print(db)
print(db.name)
# collection create
col = db.pymongo_col
print(col)
print(col.name)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db')
pymongo_db
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'pymongo_col')
pymongo_col

## Insert_one(), insert_many() 함수

In [35]:
post = {"author":"길동","text":"첫번째 글", "tags":["mongodb", "python", "pymongo"]}
result = col.insert_one(post)
print(result)
print(result.inserted_id)

<pymongo.results.InsertOneResult object at 0x00000197B820A208>
5f22621a6dc8a0ca2c979c36

In [22]:
col.find()

In [36]:
for post in col.find():
    print(type(post), post)

<class 'dict'> {'_id': ObjectId('5f225fdf6dc8a0ca2c979c31'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
<class 'dict'> {'_id': ObjectId('5f22619a6dc8a0ca2c979c32'), 'author': '둘리', 'age': 10}
<class 'dict'> {'_id': ObjectId('5f22619a6dc8a0ca2c979c33'), 'author': '바다', 'age': 20}
<class 'dict'> {'_id': ObjectId('5f22619a6dc8a0ca2c979c34'), 'author': '연못', 'age': 30}
<class 'dict'> {'_id': ObjectId('5f2262056dc8a0ca2c979c35'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
<class 'dict'> {'_id': ObjectId('5f22621a6dc8a0ca2c979c36'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [28]:
# document 갯수 알아내기
col.count_documents({})

1

In [30]:
posts = [
    {"author":"둘리","age":10},
    {"author":"바다","age":20},
    {"author":"연못","age":30},
]
col.insert_many(posts)

In [37]:
print(col.count_documents({}))
for post in col.find({}):
    print()
    print(post)

6

{'_id': ObjectId('5f225fdf6dc8a0ca2c979c31'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

{'_id': ObjectId('5f22619a6dc8a0ca2c979c32'), 'author': '둘리', 'age': 10}

{'_id': ObjectId('5f22619a6dc8a0ca2c979c33'), 'author': '바다', 'age': 20}

{'_id': ObjectId('5f22619a6dc8a0ca2c979c34'), 'author': '연못', 'age': 30}

{'_id': ObjectId('5f2262056dc8a0ca2c979c35'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

{'_id': ObjectId('5f22621a6dc8a0ca2c979c36'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [50]:
for post in col.find({}, {"author":1, "age":1, "text":1, "_id":0}).sort("age", pymongo.ASCENDING):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}

In [52]:
for post in col.find({}, {"author":1, "age":1, "text":1, "_id":0}).sort("age", pymongo.DESCENDING):
    print(post)

{'author': '연못', 'age': 30}
{'author': '바다', 'age': 20}
{'author': '둘리', 'age': 10}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}

In [54]:
# employees collection create
emp = db.employees
print(emp)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'employees')

In [63]:
from datetime import datetime

emp_list = [
   {"number":1001,"last_name":"Smith","first_name":"John","salary":62000,"department":"sales", "hire_date":datetime.strptime("2016-01-02", "%Y-%m-%d")},
   {"number":1002,"last_name":"Anderson","first_name":"Jane","salary":57500,"department":"marketing", "hire_date":datetime.strptime("2013-11-09", "%Y-%m-%d")},
   {"number":1003,"last_name":"Everest","first_name":"Brad","salary":71000,"department":"sales", "hire_date":datetime.strptime("2017-02-03", "%Y-%m-%d")},
   {"number":1004,"last_name":"Horvath","first_name":"Jack","salary":42000,"department":"marketing", "hire_date":datetime.strptime("2017-06-01", "%Y-%m-%d")},
]
emp.insert_many(emp_list)

In [65]:
for employee in emp.find():
    print(employee)

{'_id': ObjectId('5f2266176dc8a0ca2c979c37'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('5f2266176dc8a0ca2c979c38'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('5f2266176dc8a0ca2c979c39'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('5f2266176dc8a0ca2c979c3a'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [75]:
# first_name like %a%
filter = { "first_name":{"$regex":"a"}}
filter = { "first_name":{"$regex":"^J"}}
filter = { "last_name":{"$regex":"h$"}}

from datetime import datetime
from_dt = datetime.strptime("2016-01-02", "%Y-%m-%d")
to_dt = datetime.strptime("2017-05-30", "%Y-%m-%d") 
filter = { 
    "hire_date":{"$gte":from_dt},
    "hire_date":{"$lte":to_dt}
}
filter = { 
    "hire_date":{"$gte":from_dt,"$lte":to_dt}
}

filter = {
    "number":{"$in":[1001,1002]}
}

for employee in emp.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}

In [84]:
# update_one(), update_many()
emp.update_one({"number":1001},{"$set":{"department":"marketing"}})
# number = 1001, salary 62000 -> 63000
emp.update_one({"number":1001},{"$inc":{"salary":1000}})

In [86]:
emp.update_many({}, {"$set":{"status":"A"}})

In [85]:
for employee in emp.find({},{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 65000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [89]:
# update_many()
# number in [ 1003, 1004] status = "B" 로 update
emp.update_many({"number":{"$in":[1003, 1004]}}, {"$set":{"status":"B"}})

In [90]:
# delete_many()
# status = "B" employee delete
emp.delete_many({"status":"B"})